body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background-color: #008AFF;
    transition : background-color 0.5s ease;
}

#background{
    height: 100%;
}

header{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1;
    margin-left: 15%;
    line-height: .3em;
}

h1{
    font-family: Raleway, sans-serif;
    font-weight:300;
    font-size: 3em;
}

h2{
    font-family: Raleway, sans-serif;
    font-weight:300;
    font-size: 1em;
}

.selects{
    /*border-style:solid;*/
    font-size: 2em;
}

header nav {
    padding: 3% 3% 3% 2%;
    float: left;
}

a{
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease;
    padding: 0 10% 0 0%;
}

a:hover{
    color: #fff;
}


#wrapper{
    display: inline;

}

.left{
    height: 1.5em;
    width:50%;
    text-align: left;
    background-color:#27B5DB;
    transition : width 1s ease;
    padding-left: 15%;
}

.right{
    width:50%;
    text-align: left;
    height: 1.5em;
    background-color: #3CD4FF;
    transition : width 1s ease;
    padding-left: 15%;
    margin-bottom: 30px;
}

#sidebar{
    float: left;    
}

.box{
    width: 120px;
    background-color: #6AD3E8;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 70px;
    padding-left: 3%;
    transition : all 1s ease;
}

.box:hover{
    background-color: #17697F;
}

article{
    margin-left: 15%;
    clear: both;
    
}
